h1 {
	margin: 0;
	text-align: center;
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 20px;
}

h2 {
    margin-bottom: 0;
    text-align: center;
}

.loading {
	position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 1;
	.percents {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #f00;
		border-radius: 5px;
		color: #fff;
		box-shadow: 0px 0px 10px -2px black;
		overflow: hidden;
		font-size: 3rem;
		transition: 100ms;
	}
}

.form-group {
	position: relative;
    margin: 30px auto;
    width: 50%;
    label {
        color: #0000008a;
        left: 5px;
        position: absolute;
        top: 0;
        transition: 250ms;
        &.focus {
            font-size: 12px;
            top: -14px;
        }
    }
    input {
        background-color: #0000;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 5px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #262626;
        &:focus {
            outline: none;
        }
    }
}

.step-3 {
	box-shadow: 0px 0px 10px -2px #000;
	overflow: hidden;
	padding: 20px;
    transition: 800ms ease-in-out;
    width: 700px;
}

button {
    cursor: pointer;
    width: 100%;
    border: 1px solid #000;
    box-shadow: none;
    box-sizing: border-box;
    margin-top: 35px;
    height: 50px;
    background-color: #262626;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    &:hover {
        background-color: #fff;
        color: #262626;
    }
    &:focus {
        outline: none;
    }
}

.isMore {
    margin-bottom: 7px;
    display: inline-block;
    padding: 7px;
    box-shadow: 0px 0px 9px -2px black;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }
  
  .btn {
    cursor: pointer;
    width: 100%;
    border: 1px solid #000;
    box-shadow: none;
    box-sizing: border-box;
    margin-top: 35px;
    height: 50px;
    background-color: #262626;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    &.ready {
        background-color: #008000;
        border: 1px solid #008000;
    }
    &:hover {
        background-color: #fff;
        color: #262626;
    }
    &:focus {
        outline: none;
    }
}

.preview-wrapper {
	text-align: center;
    width: 700px;
    img {
		width: 10%;
		margin: 5px;
		box-shadow: 0px 0px 6px -2px black;
    }
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}

.file-ready {
    text-align: center;
    background-color: #008000;
    color: #fff;
    padding: 10px 0;
    font-weight: 100;
}