<div class="step-2" [class.validated]="step === 3">

  <h1>Deuxième Étape</h1>

  <div class="info">
    <h2>Photo de Couverture</h2>
    <div class="upload-btn-wrapper">
      <button class="btn" [class.ready]="uploader.getNotUploadedItems().length || couvUploaded">Choisir photo</button>
      <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
    </div>

    <div *ngIf="filePreviewPath" class="preview-wrapper">
        <img [src]="filePreviewPath" alt="preview">
    </div>

    <div class="file-ready" *ngIf="uploader.getNotUploadedItems().length">Photo prête</div>
    <div class="file-not-ready" *ngIf="!uploader.getNotUploadedItems().length && !nextStepReady">Aucun fichier selectionné</div>
    <div class="file-ready" *ngIf="nextStepReady">Photo envoyée !</div>

    <button *ngIf="!nextStepReady" type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Envoyer
    </button>
  </div>

  <button *ngIf="couvUploaded" class="next" (click)="nextStep()">Suivant</button>

</div>