<div class="container" (click)="manageFocus($event)">
  <div class="login">
    <h1>Se connecter</h1>
    <div *ngIf="credentialError" class="err">{{ errorMsg }}</div>
    <div class="form-group">
      <label for="username" [class.focus]="usernameFocused || username.length > 0">Identifiant</label>
      <input type="text" class="form-control" id="username" placeholder="" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password" [class.focus]="passwordFocused || password.length > 0">Mot de passe</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Se connecter</button>
  </div>
</div>