<div class="add" (click)="manageFocus($event)">
  <div class="step-1">
    <h1>Première Étape : les informations</h1>
    <div class="form-group">
      <label for="persons" [class.focus]="personsFocused || persons.length > 0">Qui ?</label>
      <input type="text" class="form-control" id="persons" placeholder="" [(ngModel)]="persons">
    </div>

    <div class="form-group">
      <label for="city" [class.focus]="cityFocused || city.length > 0">Où ?</label>
      <input type="text" class="form-control" id="city" placeholder="" [(ngModel)]="city">
    </div>
  </div>


    <!--
    <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
        <h1>Drag &amp; Drop</h1>
    </div>
      
      <label class="upload-button">
        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
        or choose file(s)
      </label>
      
      <button type="button" class="start-upload-btn" (click)="startUpload()">
        Start Upload
      </button>
    -->
</div>