@import url('https://fonts.googleapis.com/css?family=Cinzel');

.home {
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: relative;
}

h1 {
	color: #fff;
	font-family: 'Cinzel', serif;
	font-size: 3rem;
	margin: 0 0 0;
	text-align: center;
	text-shadow: 0px 0px 7px black;
}
