<div class="step-1" [class.validated]="step === 2">
  <h1>Première Étape</h1>
  <div class="info">
    <h2>Qui ?</h2>
    <div class="form-group">
      <label for="persons" [class.focus]="personsFocused || persons.length > 0">Entrez le(s) prénom(s)*</label>
      <input required type="text" class="form-control" id="persons" placeholder="" [(ngModel)]="persons">
    </div>

    <app-members [member]="persons"></app-members>
  </div>

  <div class="info">
    <h2>Où ?</h2>
    <div class="form-group">
      <label for="city" [class.focus]="cityFocused || city.length > 0">Entrez le lieu*</label>
      <input required type="text" class="form-control" id="city" placeholder="" [(ngModel)]="city">
    </div>
  </div>

  <div class="info">
    <h2>Quand ?</h2>
    <mat-form-field>
        <input required matInput [matDatepicker]="startDate" placeholder="Date de départ" [(ngModel)]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #startDate></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [matDatepicker]="endDate" placeholder="Date de retour" [(ngModel)]="toDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #endDate></mat-datepicker>
      </mat-form-field>
  </div>

  <button class="next" (click)="nextStep()">Suivant</button>
  
  <p *ngIf="error" class="err">Veuillez remplir les champs obligatoires</p>

</div>